[req]
prompt = no
distinguished_name = dn
req_extensions = ext

[dn]
CN = Сервер с аутентификацией клиентов
emailAddress = kvagalex@example.com
O = Private person
OU = Alter ego dept
L = Korolyov
C = RU

[ext]
subjectAltName = DNS:example.com,DNS:*.example.com,IP:127.0.0.1
